<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovian Careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #banner {
            height: 360px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">

        <h1 class="text-center mt-2 mb-4"> Jovian Careers </h1>

        <img class="img-fluid" src="static/background" id="banner">

        <h2 class="text-center mt-2 mb-4">About Jovian</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean augue leo, bibendum vitae vulputate volutpat, malesuada nec velit. Sed eu risus ac diam euismod aliquet id pellentesque ligula. In sagittis sed orci et tempus. Nam ligula ipsum, volutpat non ullamcorper congue, euismod eget leo. Phasellus in nisi in urna bibendum tincidunt vitae ac magna. Cras odio quam, commodo ut nulla at, hendrerit sagittis dolor. Donec eget tempor sapien. Curabitur luctus interdum lectus, a gravida sem ullamcorper ut. Donec dignissim mattis sapien, ac elementum justo. Mauris sed turpis eu ligula consequat pulvinar dictum in lacus. Donec efficitur condimentum nulla, eu elementum arcu. Phasellus vehicula hendrerit malesuada. Nam in libero euismod, aliquet risus ut, accumsan ipsum. Proin interdum dui a lorem finibus imperdiet dignissim nec sem.

        </p>
        <h2 class="text-center mt-2 mb-4">Open Positions</h2>
        <div>
                {% for job in jobs %}
                   {% include 'jobitem.html' %}
                {% endfor %} 
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
            <p class="mt-4">Copyright 2022,Jovian</p>
        </div>
        

    </div>
   </body>
</html>